@page
@model ProCar.Pages.Admin.SocialNetworks.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Социальная сеть</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocialNetwork.Name)
        </dd>
        <dt class="col-sm-2">
            Ссылка
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocialNetwork.Link)
        </dd>
        <dt class="col-sm-2">
            Иконка
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocialNetwork.Icon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SocialNetwork?.Id">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
