@page
@model ProCar.Pages.Admin.IndexModel
@{
    Layout = "_Layout2";
}

<h2>Действия</h2>
<a asp-page="/Admin/Brands/Index">Изменение данных о марках</a> <br />
<a asp-page="/Admin/CarTypes/Index">Изменение данных о типах машин</a> <br /> 
<a asp-page="/Admin/Cars/Index">Изменение данных о машинах</a> <br />