@page "{id}"
@model ProCar.Pages.Admin.CarTypes.DeleteModel
@{
    Layout = "_Layout2";
}
<h2>Вы уверены?</h2>
<form method="post">
    <input name="id" value="@RouteData.Values["id"]" class="d-none"/>
    <button class="btn btn-primary" type="submit">Да</button>
    <a class="btn btn-secondary" asp-page="/Admin/CarTypes/Index">Нет</a>
</form>
