@page
@model ProCar.Pages.Admin.Brands.CreateModel
@{
    Layout = "_Layout2";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Admin/Index">Панель администратора</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-page="/Admin/Brands/Index">Марки</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создать</li>
    </ol>
</nav>

<p>@Model.Message</p>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="Name" class="form-label">Название</label>
        <input type="text" name="name" class="form-control" id="Name" aria-describedby="emailHelp" required>
    </div>

    <div class="mb-3">
  <label for="formFile" class="form-label">Загрузите фото бренда</label>
  <input class="form-control" type="file" accept="image/png" name="uploads" id="formFile" required>
</div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <a type="submit" class="btn btn-secondary" href="/Admin/Brands/Index">Отмена</a>
</form>