@page "{id}"
@model ProCar.Pages.Admin.Brands.EditModel
@{
    Layout = "_Layout2";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Admin/Index">Панель администратора</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-page="/Admin/Brands/Index">Марки</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактировать</li>
    </ol>
</nav>

<p>@Model.Message</p>
<form method="post"  enctype="multipart/form-data">
    <div class="mb-3">
        <input class="d-none" value="@Model.Brand.Id" name="id"/>
        <label for="Name" class="form-label">Название</label>
        <input type="text" name="name" class="form-control" value="@Model.Brand.Name" id="Name" aria-describedby="emailHelp" required>
    </div>
     <div class="mb-3">
  <label for="formFile" class="form-label">Загрузите новое фото фото бренда</label>
  <input class="form-control" type="file" accept="image/png" name="uploads" id="formFile">
</div>
<p>Если вы не хотите менять фото, не загружайте его</p>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a type="submit" class="btn btn-secondary" href="/Admin/Brands/Index">Отмена</a>
</form>