@page "{id}"
@model ProCar.Pages.Admin.Brands.EditModel
@{
}

<p>@Model.Message</p>
<form method="post">
    <div class="mb-3">
        <input class="d-none" value="@Model.Brand.Id" name="id"/>
        <label for="Name" class="form-label">Название</label>
        <input type="text" name="name" class="form-control" value="@Model.Brand.Name" id="Name" aria-describedby="emailHelp" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <a type="submit" class="btn btn-secondary" href="/Admin/Brands/Index">Отмена</a>
</form>