@page
@model ProCar.Pages.ConditionsModel
@{
    ViewBag.Title = $"Условия | Про Авто";

}
<div class="product-section pt-150 pb-150">
    <div class="">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="color-breadcrumb" href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Условия</li>
                </ol>
            </nav>
            <h3 class="m-0"><span class="orange-text mx-1">Условия аренды автомобилей</span></h3>
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-3" >
                    <div class="">
                        <p class="orange-text-size mb-1">Возраст</p>
                        <p style="font-family: 'Tenor Sans'">Для того, чтобы самому водить машину, которую вы арендовали, вам нужно быть старше 21 года и иметь стаж вождения от трёх лет.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Документы</p>
                        <p style="font-family: 'Tenor Sans'">Вы должны показать паспорт РФ с наличием постоянной регистрации, который подтверждает, кто вы, и водительское удостоверение РФ, которое свидетельствует о вашей квалификации и опыте вождения машины.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Бронь</p>
                        <p style="font-family: 'Tenor Sans'">
                            На автомобиле установлен лимит пробега в сутки – 300 км. Также для аренды требуется 100% предоплата. Залог составляет от 10000 рублей.
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Оплата</p>
                        <p style="font-family: 'Tenor Sans'">
                            Вы можете оплатить аренду любым удобным вам способом. Вы платите заранее за весь срок аренды.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Правила пользования</p>
                        <p style="font-family: 'Tenor Sans'">
                            На автомобиле запрещено тонировать передние стекла и лобовое стекло. Также курение в салоне недопустимо. За нарушение этих правил предусмотрен штраф в размере 5000 рублей. Передача транспортного средства третьим лицам запрещена.
                            </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Доставка</p>
                        <p style="font-family: 'Tenor Sans'">
                            Стоимость доставки автомобиля зависит от места встречи с арендатором и времени суток. В зависимости от того, где происходит встреча и в какое время, стоимость доставки может меняться.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Сдача</p>
                        <p style="font-family: 'Tenor Sans'">
                            Автомобиль сдается чистым и в исправном состоянии. Пожалуйста, верните его таким же образом, каким получили. Уровни технических жидкостей и топлива должны остаться на том же уровне.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="">
                        <p class="orange-text-size mb-1">Страхование ответственности</p>
                        <p style="font-family: 'Tenor Sans'">
                            Автомобили застрахованы по обязательному страхованию гражданской ответственности (ОСАГО).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
