@page
@model ProCar.Pages.ContactModel
@{
}

<div class="product-section pt-150 pb-150">



    <div class="">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="color-breadcrumb" href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                </ol>
            </nav>


            <h3 class="m-0"><span class="orange-text mx-1">Контакты</span></h3>

            
            <div class="row mt-3">
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <p class="orange-text-size mb-1">Телефон</p>
                        <a href="tel:+79697490043"><p>+7 969 749 00-43</p></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <p class="orange-text-size mb-1">Адрес</p>
                        <ul>
                            <li>г. Оренбург, ул. Одесская, 23</li>
                            <li><a href="mailto:proavtooren@yandex.ru">proavtooren@yandex.ru</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <p class="orange-text-size mb-1">Для связи</p>
                        <div class="d-flex w-100 text-center">

                            <a href="https://t.me/yandex_taxi23" target="_blank" style="font-size: 30px"><i style="color:black" class="fab px-2 fa-telegram bd-highlight"></i></a>
                            <a href="https://wa.me/79697490043" target="_blank" style="font-size: 30px"><i style="color:black" class="fab px-2 fa-whatsapp bd-highlight"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3><span class="orange-text">Где нас найти</span></h3>
        <div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae15ba2ef1d406f5e87f54c6717959fd2adddc1f41e48301d66d7136c56266532&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
    </div>
</div>