
<!DOCTYPE html>
<html lang="ru">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>@ViewBag.Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">

    <link rel="shortcut icon" type="image/png" href="~/favicon.png">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bundle.min.css" >
</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap navbar sticky-top">
                        <!-- logo -->
                        <div class="site-logo py-1">
                            <a href="/">

                                <img width="100px" src="~/imgs/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu" style="font-family: 'Tenor Sans', cursive;">
                            <ul>
                                <li class="">
                                    <a href="/">Главная</a>
                                </li>
                                <li><a href="/Cars">Автопарк</a></li>
                                <li>
                                    <a href="/Contact">Контакты</a>
                                </li>
                                <li><a href="/Conditions">Условия</a></li>
                                <li>
                                    <div class="header-icons">
                                        <a class="mobile-hide" href="tel:+79697490043"><i class="fas "></i>+7 969 749 00-43</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                        <div class="d-block d-md-block d-lg-none ms-auto me-0">
                            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightNavbar" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                                <img src="~/imgs/list.svg" width="35"/>
                            </button>

                            <div class="offcanvas offcanvas-end mobile-style" tabindex="-1" id="offcanvasRightNavbar" aria-labelledby="offcanvasRightLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title ms-3"><img src="~/imgs/logo-wt.png" style="width: 35px; height: 35px;"/> Меню</h5>
                                    <button type="button" class="btn-close btn-close-white me-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body ">
                                    <ul >
                                        <li class="nav-item">
                                            <a href="/" class="nav-link"><span><img src="~/imgs/house-door.svg" class="me-3"/></span>Главная</a>      
                                        </li>
                                        <li class="nav-item mt-3">
                                            <a href="/Cars" class="nav-link"><span><img width="24" src="~/imgs/car-front-white.svg" class="me-3" /></span>Автопарк</a>
                                        </li>
                                        <li class="nav-item mt-3">
                                            <a href="/Contact" class="nav-link"><span><img width="24" src="~/imgs/person-lines-fill.svg" class="me-3" /></span>Контакты</a>
                                        </li>
                                        <li class="nav-item mt-3">
                                            <a href="/Conditions" class="nav-link"><span><img width="24" src="~/imgs/info-square.svg" class="me-3" /></span>Условия</a>
                                        </li>
                                        <li class="nav-item mt-4">
                                            <a class="mobile-hide nav-link" href="tel:+79697490043"><i class="fas "></i><span><img width="24" src="~/imgs/telephone-fill.svg" class="me-3" /></span>+7 969 749 00-43</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <div style="background-color: white">
    <!-- end header -->
    @RenderBody()
    </div>
    <!-- footer -->
    <div class=" footer-area mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">О нас</h2>
                        <p style="font-family: 'Tenor Sans'">Про Авто - это компания, которая предлагает вам удобный и выгодный способ аренды автомобилей в Оренбурге. Вы можете выбрать любой автомобиль из широкого ассортимента, оставить заявку и получить машину. Про Авто - это надежный партнер для вашего комфортного и безопасного передвижения.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Как нас найти</h2>
                        <ul>
                            <li>г. Оренбург, ул. Одесская, 23</li>
                            <li><a href="mailto:proavtooren@yandex.ru">proavtooren@yandex.ru</a></li>
                            <li><a href="tel:+79697490043">+7 969 749 00-43</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Наши соцсети</h2>
                        <p></p>
                        <div class="social-icons">
                            <ul>
                                <li><a href="https://t.me/yandex_taxi23" target="_blank"><i style="font-size: 30px" class="fab fa-telegram"></i></a></li>
                                <li><a href="https://wa.me/79697490043" target="_blank"><i style="font-size: 30px" class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->




    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>

    <script src="~/css/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bundle.min.js"></script>
    <!-- sticker js -->
    @*<script src="~/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>*@
</body>
</html>