@page "{id}"
@model ProCar.Pages.Admin.Cars.DeleteModel
@{
    Layout = "_Layout2";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Admin/Index">Панель администратора</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-page="/Admin/Cars/Index">Автомобили</a></li>
        <li class="breadcrumb-item active" aria-current="page">Удалить</li>
    </ol>
</nav>

<h2>Вы уверены?</h2>
<form method="post">
    <input name="id" value="@RouteData.Values["id"]" class="d-none" />
    <button class="btn btn-primary" type="submit">Да</button>
    <a class="btn btn-secondary" asp-page="/Admin/Cars/Index">Нет</a>
</form>